div[id*="pcard"] .popover { 
	border-radius: 20px;
	border: 2px solid orange;
	width: 80px;
	height: 55px;
	left: -95px !important; 
}
div[id*="dcard"] .popover {
	border-radius: 20px;
	border: 2px solid orange;
	width: 90px;
	height: 55px;
	left: -105px !important; 
}

/* #wrapper {
	margin: 0 auto;
	width: 1000px;
} */

h3 {
	margin: 5px 0;
	text-align: center;
}

#game {
	border-radius: 5px;
	color: #333;
	font: 14px/17px Helvetica, Arial, Verdana, sans-serif;
	height: 370px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

div#dscore {
	position: absolute;
	bottom: 30px;
}

div#pscore {
	position: absolute;
	bottom: 15px;
}

div#phand, div#dhand {
	font-weight: 700;
	/*left: 50%;*/
	position: absolute;
	top: -122px;
	white-space: nowrap;
	width: 1000px;
}

div#phand { }

div#dhand { }

div[class*="card"] {
	background: #FFF;
	border: 6px solid #FFF;
	border-radius: 5px;
	box-shadow: 0 0 1px #000;
	display: inline-block;
	height: 110px;
	width: 80px;
	margin: 0 5px;
	position: absolute;
	right: 0;
}

.down {
	background: #B20000 url('./card2.png') center center no-repeat !important;
}

span.pos-0 {
	left: 0;
	position: absolute;
	top: 0;
}

span.pos-1 {
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	position: absolute;
	right: 0;
	transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

span.rank {
	font-size: 18px;
}

span.suit {
	font-size: 22px;
}

.black {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.yellow {
	color: goldenrod;
}

#result {
	position: absolute;
	bottom: 0;
}

#actions {
	margin: 15px 0 0 0;
    text-align: center;
}

#actionButtons{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#money, #money:before {
	border-radius: 5px;
	bottom: 0;
	height: 55px;
	padding: 7px;
	position: absolute;
	right: 0;
	width: 250px;
}

#money {
	border: 2px solid #FFC926;
}

#money:before {
	background: #333;
	content: '';
	opacity: 0.8;
}

#cash, #bank {
	color: gold;
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 3px goldenrod;
	font-size: 20px;
	padding: 10px;
	margin: 12px 0;
	position: relative;
	z-index: 1;
}

.lottery{
	color: rgb(28, 185, 185);
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
	animation: blink 1s steps(4, start) infinite
}

.playing{
	color: rgb(44, 201, 44);
	text-shadow: 2px 2px green;
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

.champion{
	color: rgb(218, 32, 203);
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 3px rgb(140, 0, 255);
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
	animation: blink 1s steps(4, start) infinite
}

.won{
	color: goldenrod;
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 3px rgb(255, 30, 0);
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
	animation: blink 1s steps(4, start) infinite
}

.lost{
	color: rgb(175, 174, 174);
	font-family: 'Press Start 2P', cursive;
	text-shadow:1px 1px rgb(117, 113, 112);
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

.tie{
	color: black;
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

@keyframes blink{
	to {
	    visibility: hidden;
	}
}  

#newGame{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#deal{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#hit{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#stand{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#retry{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	display: none;
}

#wager{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	width: 15%;
}

input#wager { margin-left: 5px; position: relative;}


#bet{
	font-family: 'Press Start 2P', cursive;
	font-size: 11px;
	margin-left: 10px;
}

#alert {
	margin: 0 auto;
	opacity: 0.95;
	position: relative;
	text-align: center;
	top: 4.5%;
	width: 500px;
	z-index: 0;
	background: #088A68;
	color: whitesmoke;
}

@keyframes rotate {
	100% {
		transform: rotate(2turn);
	}
}



/* .wrapper{
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}
.wrapper::before {
	content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(#d53e33, #d53e33), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#fbb300, #fbb300);
	animation: rotate 0.5s linear infinite;
}
	
.wrapper::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 6px;
	top: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: white;
	border-radius: 5px;
} */
